[Unit]
Description= Monitor HTTP Redirector and Send notification to Telegram
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/root
ExecStart=/bin/bash /home/root/RedirectorBot.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
